<div class="container mt-5  transfer__container  mx-auto shadow " style="margin-top: -250px!important;">

    <div class="row d-flex justify-content-center pt-5">
        <img src="/images/verified.png " style="width: 120px; height: 120px" class="justify-content-center">
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center " style="font-weight: bold; font-size: 20px">GIAO DỊCH THÀNH CÔNG</div>
    </div>

    <div class="row mt-4 pb-5 d-flex justify-content-center">
        <a class="btn col-3 btn--continue" type="submit" href="/logged/home"
           style="border-radius: 10px; background-color: #134B70; color:white">Quay về trang chủ
        </a>
    </div>
</div>