<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3">
        <a href="/logged/home" class="ml-3"><img src="/images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="  mt-1  col-2" style="font-weight: bold ">Chuyển tiền</span>
    </div>

    <div class="container  mt-3 ">
        <div class="row mx-0 w-100 justify-content-center">
            <div class="col-12 col-lg-5 ">
                <ul class="nav nav-tabs navigation__transfer__option" id="myTab" role="tablist">
                    <li class="nav-item col-md-6 " role="presentation">
                        <a class="nav-link  active" id="home-tab" data-toggle="tab"
                           href="#home" role="tab" aria-controls="home" aria-selected="true">Nội bộ ESB</a>
                    </li>
                    <li class="nav-item col-md-6 " role="presentation">
                        <a class="nav-link " id="profile-tab" data-toggle="tab"
                           href="#profile" role="tab" aria-controls="profile"
                           aria-selected="false">Ngoài ESB</a></li>
                </ul>
                <div class="tab-content " id="myTabContent">
                    <div class="tab-pane show active fade col-12 directory mt-2 " id="home" role="tabpanel"
                         aria-labelledby="home-tab">
                        <div class="directory__content">
                            <div class="row pt-3 mb-1">
                                <span class="col-8">Cùng chủ tài khoản</span>
                                <div class="col-4 d-flex justify-content-center">
                                    <label class="toggle">
                                        <input class="toggle-checkbox" type="checkbox">
                                        <div class="toggle-switch"></div>
                                    </label>
                                </div>
                            </div>
                            <form method="post" action="">
                                <div class="form-group ">
                                    <label class="col-12" style="padding-left: 0">Số tài khoản</label>
                                    <div class="row form--stk " style="margin-left:0">
                                        <input type="text" name="accountNumber" id="inputNumberInternal"
                                               class="form-control col-9  input--stk "
                                               placeholder=""
                                               aria-describedby="helpId">
                                        <input type="hidden" name="bank" value="ESB">
                                        <a type="button"
                                           class=" button--check col-3 d-flex align-item-center justify-content-center"
                                        >Kiểm tra</a>
                                    </div>
                                </div>
                                <button class="btn   mb-3 px-4" type="submit"
                                        style="border-radius: 15px; background-color: #134B70; color:white">Tiếp tục
                                </button>

                            </form>

                        </div>
                    </div>
                    <div class="tab-pane fade  directory col-12  mt-2 " id="profile" role="tabpanel"
                         aria-labelledby="profile-tab">
                        <div class="directory__content">
                            <form method="post" action="">
                                <div class="form-group row pt-3 mb-1">
                                    <label class="col-12">Lựa chọn ngân hàng</label>
                                    <div class="col-12" id="testing">
                                        <select class="bank--selection" name="bank"
                                                id="customSelect">
                                            <option value="BIDV" id="bidv.jpg">
                                                BIDV
                                            </option>
                                            <option id="angrybank.png" value="Angry Bank">
                                                AngryBank
                                            </option>
                                            <option id="tpbank.jpg" value="TP Bank">
                                                TP Bank
                                            </option>
                                            <option id="ocean.png" value="Ocean Bank">
                                                Ocean Bank
                                            </option>
                                            <option id="vcb.jpg" value="Vietcombank">
                                                Vietcombank
                                            </option>
                                            <option id="scb.jpg" value="Sacombank">
                                                Sacombank
                                            </option>
                                            <option id="vip.jpg" value="VIB">
                                                VIB
                                            </option>
                                            <option id="tech.jpg" value="Techcombank">
                                                Techcombank
                                            </option>
                                            <option id="donga.jpg" value="Dong A Bank">
                                                Dong A Bank
                                            </option>
                                            <option id="acb.png" value="ACB">
                                                ACB
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group pb-3 mb-0">
                                    <label class="col-12" style="padding-left: 0">Số tài khoản</label>

                                    <div class="row form--stk " style="margin-left:0">
                                        <input type="text" name="accountNumber" id="inputNumberExternal"
                                               class="form-control col-9  input--stk"
                                               placeholder=""
                                               aria-describedby="helpId"
                                        >
                                        <a type="button"
                                           class=" button--check col-3 d-flex align-item-center justify-content-center"
                                        >Kiểm tra</a>
                                    </div>
                                </div>
                                <button class="btn px-4 mb-3" type="submit"
                                        style="border-radius: 15px; background-color: #134B70; color:white">Tiếp tục
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 directory__list mb-4">
                <div class="mt-2">
                    <nav>
                        <div class="nav nav-tabs directory__list__nav" id="nav-tab" role="tablist">
                            <button class="nav-link my-0 active" id="nav-home-tab" data-toggle="tab"
                                    data-target="#nav-home"
                                    type="button" role="tab" aria-controls="nav-home" aria-selected="true">Danh bạ
                            </button>
                            <button class="nav-link my-0 ml-4" id="nav-profile-tab" data-toggle="tab"
                                    data-target="#nav-profile"
                                    type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Gần đây
                            </button>
                        </div>
                    </nav>
                    <div class="row form--stk " style="margin-left:0">
                        <button type="submit"
                                class=" button--search col-1 d-flex align-item-center justify-content-center px-1"
                        ><img src="/images/search-interface-symbol.png" style="width: 25px; height: 25px; display: inline-block;
margin-top: 3px"></button>
                        <input type="text" name="" id="" class="form-control col-11  input--stk "
                               placeholder=""
                               aria-describedby="helpId">
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane show active " id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <div class="directory__list__account__list my-3">
                                <div class="container pt-2 " id="button-container">
                                    {{#each this.directoryList}}
                                        <button class="button--continue mb-2" style=" min-width:206px" id="button-1">
                                            <div class=" mt-2 px-3"
                                                 style="font-weight: bold; max-width: 200px; color: #134B70; font-size: 20px">
                                                {{userName}}
                                            </div>
                                            <p class=" px-3" style="font-size: 15px; color: white" id="number">
                                                {{accountNumber}}</p>
                                            <div class="px-3 " style="font-size: 15px;color: white">{{bank}}</div>
                                        </button>
                                    {{/each}}

                                </div>

                            </div>
                        </div>
                        <div class="tab-pane " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            .2..
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script> $(document).ready(function () {
    function formatState(state) {
        if (!state.id) {
            return state.text;
        }
        var baseUrl = "/images/";
        console.log(state.element.id);
        var $state = $('<span><img src="' + baseUrl + state.element.id.toLowerCase()
                + '" class="img-flag selection__img" /> ' + state.text + '</span>');
        console.log($state);
        return $state;
    };$("#customSelect").select2({
        templateResult: formatState, templateSelection: formatState
    });
});
</script>
<script>
    document.getElementById('button-container').addEventListener('click', function (event) {
        if (event.target.tagName === 'BUTTON' || event.target.closest('button')) {
            var button = event.target.tagName === 'BUTTON' ? event.target : event.target.closest('button');
            var paragraphs = button.getElementsByTagName('p');
            var values = [];
            for (var i = 0; i < paragraphs.length; i++) {
                values.push(paragraphs[i].innerText);
            }
            document.getElementById('inputNumberExternal').value = values;
            document.getElementById('inputNumberInternal').value = values;
            console.log(values); // You
        }
    });
</script>