<div class="container mt-6">
    <div class="card">
        <div class="card-header">
            Tổng quan trang web
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Số bài được editor duyệt trong ngày:</td>
                        <td class="text-right">5</td>
                    </tr>
                    <tr>
                        <td>Số lượng người dùng mới trong hôm nay:</td>
                        <td class="text-right">5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>