<div class="container mt-3 shadow " style="border-radius: 20px">
    <div class="container__home__selection__links ">
        <div class="row">
            <div class="col-6 d-flex justify-content-start flex-wrap">
                <span class="mr-4"> Tài khoản thanh toán</span>
                <img src="/list.png" style="width: 20px; height: 20px; margin-top: 5px">
                <div class="w-100 money-number">012214000034</div>
            </div>
            <div class="col-6 d-flex justify-content-end flex-wrap">
                <div>
                    <span> Số dư khả dụng</span>
                    <div class="w-100 money-number">1,000,000,000 VND
                        <img src="/view-white.png" style="width: 20px; height: 20px; " class="mb-1 ml-1">
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-column gap-3 option-link">
            <div class="row mt-4 mb-5 mx-0">
                <div class="col-sm-6 mb-3 mb-sm-4 mb-lg-0 col-lg-3 ">
                    <a class=" w-100 h-100 p-2  d-flex
                flex-column align-items-center justify-content-center rounded-3 "
                       style="background-color: #134B70; border-radius: 17px"
                       href="/logged/transfer/">
                        <img src="/transfer.png" class="w-25 h-50 ">
                        <p class="text-white font-weight-bold fs-1 mb-0">Chuyển tiền</p>
                    </a>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-4 mb-lg-0 col-lg-3">
                    <a class=" w-100 h-100 p-2  d-flex
                flex-column align-items-center justify-content-center rounded-3 "
                       style="background-color: #134B70; border-radius: 17px"
                       href="#">
                        <img src="/piggy-bank (1).png" class="w-25 h-50 ">
                        <p class="text-white font-weight-bold fs-1 mb-0">Sổ tiết kiệm</p>
                    </a>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-4 mb-lg-0 col-lg-3">
                    <a class=" w-100 h-100 p-2  d-flex
                flex-column align-items-center justify-content-center rounded-3 "
                       style="background-color: #134B70; border-radius: 17px"
                       href="#">
                        <img src="/personal.png" class="w-25 h-50 ">
                        <p class="text-white font-weight-bold fs-1 mb-0">Sổ nợ</p>
                    </a>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-4 mb-lg-0 col-lg-3">
                    <a class=" w-100 h-100 p-2  d-flex
                flex-column align-items-center justify-content-center rounded-3 "
                       style="background-color: #134B70; border-radius: 17px"
                       href="#">
                        <img src="/insurance.png" class="w-25 h-50 ">
                        <p class="text-white font-weight-bold fs-1 mb-0">Chuyển tiền</p>
                    </a>
                </div>
            </div>
            <div class="row mt-4 link-image">
                <a class="col-6 col-md-4 col-lg-2 mb-sm-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/piggy-bank.png" class="w-74  " height="100"/>
                    <div class="font-weight-bold mt-1">Gửi tiết kiệm</div>

                </a>
                <a class="col-6 col-md-4 col-lg-2 mb-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/loan.png" class="w-74" height="100"/>
                    <div class="font-weight-bold mt-1">Vay vốn</div>

                </a>
                <a class="col-6 col-md-4 col-lg-2 mb-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/document.png" class="w-74" height="100"/>
                    <div class="font-weight-bold mt-1">Gửi tiết kiệm</div>

                </a>
                <a class="col-6 col-md-4 col-lg-2 mb-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/flight.png" class="w-74" height="100"/>
                    <div class="font-weight-bold mt-1">Gửi tiết kiệm</div>

                </a>
                <a class="col-6 col-md-4 col-lg-2 mb-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/train.png" class="w-74" height="100"/>
                    <div class="font-weight-bold mt-1">Gửi tiết kiệm</div>

                </a>
                <a class="col-6 col-md-4 col-lg-2 mb-5 d-flex flex-column align-items-center text-decoration-none"
                   href="#">
                    <img src="/premium-account.png" class="w-74" height="100"/>
                    <div class="font-weight-bold mt-1 ">Gửi tiết kiệm</div>
                </a>
            </div>
        </div>
    </div>
</div>