<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Login_Register</title>
    <link rel="stylesheet" href="/css/homeLoginRegister.css">
</head>
<body style="margin: 0px; background-color: #1E7BB6">
<div class="container">
    <div class="content-container">
        <div class="content-container__navigation">
            <p class="navigation__logo">East$eaBank</p>
            <ul>
                <li><a href="#">Sản phẩm & dịch vụ</a></li>
                <li><a href="#">Công cụ & Tiện ích</a></li>
                <li><a href="#">Liên hệ & Hỗ trợ</a></li>

            </ul>
        </div>
        <div class="content-container__thumbnail">
            <div class="thumbnail__content">
                <span style="font-size: 60px;font-weight: bold">Tiết kiệm và vay vốn ưu đãi </span>
                <p style="font-size: 30px; margin-top:20px; font-weight: bold">Tìm kiếm điều bạn muốn!</p>
                <div class="thumbnail__content__search">
                    <img src="images/search-interface-symbol.png"
                         style="width: 53px;height: 53px; margin-left: 1px; margin-top: 2px">
                    <input type="text" class="searchInput" onclick="">
                </div>
                <a class="container__form_link link--login"
                   href="http://localhost:3000/login">
                    Đăng nhập
                </a>
                <a class="container__form_link link--login"
                   href="http://localhost:3000/sign-in/step-1">
                    Đăng ký
                </a>
            </div>
            <img src="images/sea-waves.png" style="width: 600px; height: 540px">
        </div>
        <div class="content-container__navigation-service">
            <ul>
                <li>
                    <a>Sổ tiết kiệm</a>
                </li>
                <li>
                    <a>Vay Vốn</a>
                </li>
                <li>
                    <a>Bảo hiểm</a>
                </li>
                <li>
                    <a> Số đẹp</a>
                </li>
            </ul>
        </div>
        <div class="content-container__section">
            <img src="images/piggy-bank.png">
            <div class="content-container__section__saving content-container__section--max-width">
                <p>Sổ tiết kiệm</p>
                <p class="content-container__section__title">Nâng tâm giá trị số tiền nhàn rỗi của bạn </p>
                <p class="content-container__section__text">Chúng tôi cung cấp một loạt các gói gửi tiết kiệm đa dạng,
                    phù hợp với nhiều nhu cầu tài chính khác nhau,
                    từ ngắn hạn đến dài hạn. Khách hàng có thể dễ dàng lựa chọn
                    các sản phẩm phù hợp với điều kiện cá nhân,
                    đồng thời tận dụng được sự linh hoạt trong lãi suất và kỳ hạn gửi
                    , giúp tối ưu hóa lợi nhuận và kế hoạch tài chính của mình.</p>
                <a class="container__form_link link--login" href="#">
                    Xem thêm
                </a>
            </div>
        </div>
        <div class="content-container__section">
            <div class="content-container__section__borrowing content-container__section--max-width">
                <p>Vay vốn</p>
                <p class="content-container__section__title">Bạn cần tiền để bắt đầu xây dựng một doanh nghiệp? </p>
                <p class="content-container__section__text">Chúng tôi cung cấp nhiều gói vay vốn linh hoạt,
                    đáp ứng nhu cầu tài chính từ cá nhân đến doanh nghiệp. Các hình thức vay như tín chấp,
                    thế chấp, và vay tiêu dùng được thiết kế với lãi suất hợp lý, mang lại lợi ích tối đa cho khách
                    hàng.
                    Quá trình xét duyệt và giải ngân nhanh chóng, giúp đáp ứng nhu cầu tài chính kịp thời.
                    Đội ngũ tư vấn luôn sẵn sàng hỗ trợ, giúp khách hàng lựa chọn giải pháp vay phù hợp nhất,
                    đảm bảo quyền lợi và tối ưu hóa lợi nhuận.</p>
                <a class="container__form_link link--login" href="#">
                    Xem thêm
                </a>
            </div>
            <img src="images/loan.png">
        </div>
        <div class="content-container__section">
            <img src="images/document.png">
            <div class="content-container__section__insurance content-container__section--max-width">
                <p>Bảo hiểm</p>
                <p class="content-container__section__title">Cung cấp các gói bảo hiểm từ bên thứ ba </p>
                <p class="content-container__section__text">Chúng tôi cung cấp các gói bảo hiểm từ các đối tác bên
                    thứ ba uy tín, mang lại sự bảo vệ toàn diện cho khách hàng.
                    Với các giải pháp bảo hiểm chất lượng cao và chi phí hợp lý,
                    khách hàng có thể yên tâm lựa chọn phù hợp với nhu cầu của mình.
                    Đội ngũ chuyên gia luôn sẵn sàng hỗ trợ tư vấn, đảm bảo khách hàng được
                    hưởng những quyền lợi tối ưu khi sử dụng dịch vụ bảo hiểm.</p>
                <a class="container__form_link link--login" href="#">
                    Xem thêm
                </a>
            </div>
        </div>
        <div class="content-container__section">
            <div class="content-container__section__beauty-number content-container__section--max-width">
                <p>Tài khoản số đẹp</p>
                <p class="content-container__section__title">Tạo số tài khoản như ý</p>
                <p class="content-container__section__text">Chúng tôi cung cấp dịch vụ tạo tài khoản số đẹp,
                    cho phép khách hàng lựa chọn số tài khoản theo ý muốn.
                    Những số tài khoản này mang ý nghĩa phong thủy,
                    thể hiện sự may mắn, tài lộc và dễ ghi nhớ. Dịch vụ linh hoạt,
                    phù hợp với nhu cầu cá nhân hoặc doanh nghiệp, giúp tạo dấu ấn riêng biệt.
                    Khách hàng có thể chọn số tài khoản đẹp qua quy trình đơn giản, nhanh chóng, và thuận tiện.</p>
                <a class="container__form_link link--login" href="#">
                    Xem thêm
                </a>
            </div>
            <img src="images/premium-account.png">
        </div>
        <div class="content-container__slogan">
            <p class="content-container__slogan__text">EastSeaBank<br>
                Tiền nhiều như nước biển đông
            </p>
            <a class="container__form_link link--login" href="#">Bắt đầu</a>
        </div>
        <div class="content-container__footer">
            <div class="content-container__footer__first-line-info">
                <div class="content-container__footer__first-line-info__logo">EastSeaBank</div>
                <div class="content-container__footer__info">
                    <img src="images/telephone.png">
                    <a href="#">0909990009</a>
                </div>

                <div class="content-container__footer__info">
                    <img src="images/mail.png">
                    <a href="#">eastseabank@gg.com</a>
                </div>
            </div>
            <div class="content-container__footer__second-line-info">
                <div class="content-container__footer__info" style="margin-left: -40px">
                    <img src="images/question.png">
                    <a href="#">Câu hỏi thường gặp</a>
                </div>
            </div>
        </div>

    </div>


</div>

</body>
</html>