<!-- Customer List -->
<div class="infor-list mt-6">
    <h3>Danh sách khách hàng</h3>
    <!-- Thanh tìm kiếm và các nút -->
    <div class="d-flex justify-content-between mb-3">
        <div class="input-group" style="width: 300px;">
            <input type="text" class="form-control" placeholder="Tìm kiếm thông tin...">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">Tìm kiếm</button>
            </div>
        </div>
    </div>
    {{!-- content của table --}}
    <table id="customerList" class="table table-striped">
        <thead>
            <tr>
                <th>Mã khách hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Tổng số dư</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Lê Văn Việt Hoàng</td>
                <td>037xxxxxx78</td>
                <td>100,000 VNĐ</td>
                <td><a href="./User" class="detail-link">Chi tiết</a></td>
            </tr>
            <tr>
                <td>002</td>
                <td>Biện Xuân Huy</td>
                <td>xxxxxxxx78</td>
                <td>1,000,000 VNĐ</td>
                <td><a href="#" class="detail-link">Chi tiết</a></td>
            </tr>
            <tr>
                <td>003</td>
                <td>Nguyễn Tiến Huy</td>
                <td>xxxxxxxxxx</td>
                <td>100,000 VNĐ</td>
                <td><a href="#" class="detail-link">Chi tiết</a></td>
            </tr>
            <tr>
                <td>004</td>
                <td>Nguyễn Trường</td>
                <td>xxxxxxxxxx</td>
                <td>1,000,000 VNĐ</td>
                <td><a href="#" class="detail-link">Chi tiết</a></td>
            </tr>
        </tbody>
    </table>
</div>
