.passbook-container {
    margin-top: -420px;
    padding: 30px 30px 50px 30px;
    background-color: rgba(35, 33, 67, 0.8);
    border-radius: 30px;
}

.passbook-prvw-container {
    width: 100%;
    height: 80px;
    background-color: #508C9B;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 50px 10px 50px;
}

 .passbook-head {
    font-size: large;
 }

 .passbook-money {
    color: #88D7EB;
 }

 .summary-container {
    width: 100%;
    height: 80px;
    background-color: #134B70;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
 }

 .total-growth-rate {
    color: #00F7C2;
 }