{{#section 'css'}}
<link rel="stylesheet" href="/public/css/debtbook.css">
{{/section}}

<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="/logged/home" class="ml-3"><img src="../images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="    col-4" style="font-weight: bold ">Sổ nợ</span>
    </div>
    <div class=" container px-5 mt-4 " style="height: 300px">
        <div class=" d-flex position-relative">
            <div id="left" class=" position-absolute debtSectionLeft px-3 pt-2">
                <div class="d-flex justify-content-between my-1">
                    <div class="font-weight-bold">
                        Mã vay: xxxxxxxxxxxxxxxx1
                    </div>
                </div>
                <div class="d-flex justify-content-between my-1">
                    <div>Số tiền phải thanh toán</div>
                    <div>100,000 VND</div>
                </div>
                <div class="d-flex justify-content-between my-1">
                    <div>Tình trạng</div>
                    <div>Đến hạn</div>
                </div>

                <div></div>
            </div>
            <div id="right" class=" position-absolute  debtSectionRight "
                style="font-size: 10px; display: none; padding-left: 70px">
                <div class="px-4 pt-1">
                    <div class="d-flex justify-content-between mb-1">
                        <div>Ngày vay: 01/01/2024</div>
                        <div>Kỳ hạn: 11 tháng</div>
                    </div>
                    <div class="d-flex justify-content-between my-1">
                        <div>Số tiền vay 1,000,000 VND</div>
                        <div>Lãi 10%</div>
                    </div>
                    <div class="d-flex justify-content-between my-1">
                        <div>Đã trả: 500,000 VND</div>
                    </div>
                    <div class="d-flex justify-content-between my-1">
                        <div>Số tiền còn lại: 600,000 VND</div>
                    </div>
                    <div class="d-flex justify-content-between my-1">
                        <div>Ngày trả lãi tiếp theo: 1/7/2024</div>
                        <button class="border-0 text-white" style="border-radius: 20px; background-color: #316B86">Thanh
                            toán
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'js'}}
<script>
    $(document).ready(function () {
        $('#left').hover(
            function () {
                $('#right').show();
            },
            function () {
                setTimeout(function () {
                    if (!$('#right').is(':hover')) {
                        $('#right').hide();
                    }
                }, 100);
            }
        );
    });


</script>
{{/section}}