{{#section 'css'}}
<link rel="stylesheet" href="/public/css/savingReg.css">
{{/section}}

<div class="container content-container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 text-left">
            <a href="/logged/saving/register" role="button" class="text-decoration-none" style="color: inherit;">
                <img src="/images/arrow.png" alt="" class="icon-img">
                <b>Xác thực</b>
            </a>
        </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <form method="post" class="p-4">
            <div class="form-group">
                <label for="" class="col-md-5 text-left"><b>Nội dung giao dịch</b></label>
                <input type="text" name="" id="" class="text-fill form-control">
            </div>
            <div class="form-group mt-3">
                <label for="" class="col-md-5 text-left"><b>Nhập mã PIN</b></label>
                <input type="password" name="" id="" class="text-fill form-control">
            </div>
            <div class="text-center mt-5">
                <button type="submit" class="btn subbtn btn-outline-primary">
                    Tiếp tục
                </button>
            </div>
        </form>
    </div>
</div>

</div>