{{#section 'css'}}
<link rel="stylesheet" href="/public/css/savingReg.css">
{{/section}}

<div class="container content-container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 text-left">
            <a href="/logged/saving/register" role="button" class="text-decoration-none" style="color: inherit;">
                <img src="/images/arrow.png" alt="" class="icon-img">
                <b>Xác nhận giao dịch</b>
            </a>
        </div>
    </div>

    <div class="row mt-5 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Tài khoản gửi tiết kiệm</b>
            <span>212112000111</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Số tiền gửi</b>
            <span>10,000,000 VNĐ</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Loại hình tiết kiệm</b>
            <span>Gửi tiết kiệm có kỳ hạn</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Kỳ hạn</b>
            <span>12 tháng</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Lãi suất của bạn</b>
            <span>4.6%</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b>Tùy chọn sau khi hết hạn</b>
            <span>Không</span>
        </div>
        <div class="row d-flex justify-content-between ml-0 mr-0 mb-3">
            <b class="col-md-4 text-left p-0">Nội dung giao dịch</b>
            <span class="col-md-8 text-right p-0">Mở sổ đi em.</span>
        </div>
        <form action="" method="post">
            <div class="text-center mt-5">
                <button type="submit" class="btn subbtn btn-outline-primary">
                    Tiếp tục
                </button>
            </div>
        </form>
    </div>
</div>

</div>