<div class="container col-12 mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="#" class="ml-3"><img src="/images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="    col-9" style="font-weight: bold ">Thể lệ sản phẩm và cam kết</span>
    </div>
    <div class="container rounded-3 container__policy mt-3 d-flex flex-column justify-content-between">
        <div class="text-center policy__content pt-3 px-3 ">
            What is Lorem Ipsum?
            <div>

                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.

            </div>
            Why do we use it?
            <div>

                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                evolved
                over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
        </div>
        <div class="">
            <div class="underline my-3">
            </div>
            <div class="row  ">
                <div class=" col-md-1 ml-2 px-0 d-flex justify-content-center mr-lg-n3 mr-md-1">
                    <div class="round">
                        <input type="checkbox" checked id="checkbox"/>
                        <label for="checkbox" style=""></label>
                    </div>
                </div>
                <div class="col-md-10 pl-0 text-lg-left text-sm-center " style="color: gray; font-size: 12px">
                    Tôi đã đọc và hiểu quy định.
                </div>
            </div>
            <button class="btn mb-3 col-12 btn--continue mt-3" type="submit"
                    style="border-radius: 15px; background-color: #134B70; color:white; ">Xác nhận
            </button>
        </div>


    </div>
</div>
