<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="#" class="ml-3"><img src="/images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="    col-4" style="font-weight: bold ">Lựa chọn loại hình vay</span>
    </div>

    <div class="row d-flex justify-content-center mt-3 " style="padding-bottom: 100px">
        <div class="col-sm-12 mb-3 mb-sm-4 mb-lg-0 col-md-4 option-link">
            <a class="row py-4 d-flex align-items-center mx-0 px-2
                  rounded-3 "
               style="background-color: #134B70; border-radius: 17px"
               href="#">
                <img src="/images/vay 1.png" class=" col-5">
                <p class="text-white font-weight-bold fs-1 mb-0 col-7 align-items-center p-0">Vay tín chấp</p>
            </a>
        </div>

        <div class="col-sm-12 mb-3 mb-sm-4 mb-lg-0 col-md-4 option-link">
            <a class="  row py-4 d-flex align-items-center px-2
                  rounded-3 mx-0"
               style="background-color: #134B70; border-radius: 17px"
               href="#">
                <img src="/images/vay 2.png" class=" col-5">
                <p class="text-white font-weight-bold fs-1 mb-0 col-7 align-items-center p-0">Vay thế chấp</p>
            </a>
        </div>
    </div>


</div>

