<div class="container mt-5  transfer__container  mx-auto shadow " style="margin-top: -250px!important;">

    <div class="row d-flex justify-content-center pt-5">
        <img src="/verified.png " style="width: 120px; height: 120px" class="justify-content-center">
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center " style="font-weight: bold; font-size: 20px">THANH TOÁN KHOẢN VAY THÀNH CÔNG</div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-8 credit-limit p-3 credit--info my-4 row d-flex justify-content-between">
            <div class="col-md-6">Mã thanh toán vay</div>
            <div class="col-md-6 text-md-right font-weight-bold">xxxxxxxxxxxxxxxx</div>
        </div>
    </div>

    <div class="row mt-4 pb-5 d-flex justify-content-center">
        <a class="btn col-3 btn--continue" type="submit" href="/logged/home"
           style="border-radius: 10px; background-color: #134B70; color:white">Quay về trang chủ
        </a>
    </div>
</div>