<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="/logged/loan" class="ml-3"><img src="/images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="    col-4" style="font-weight: bold ">Vay thế chấp</span>
    </div>
    <div class="container mt-3 px-4">
        <div class="font-weight-bold">Hạn mức thế chấp được phê duyệt</div>
        <div class="container credit-limit text-dark mt-3 py-3">
            <div class="row ">
                <div class="row col-11 ">
                    <div class="row pl-5 col-12 d-flex justify-content-between">
                        <p class="col-3 font-weight-bold"> Hạn mức </p>
                        <p class="col-5 text-right"> 50.000.000 VND </p>
                    </div>
                    <div class="row pl-5 col-12 d-flex justify-content-between">
                        <p class="col-3 font-weight-bold"> Lãi suất </p>
                        <p class="col-5 text-right"> 4.7% Năm </p>
                    </div>
                    <div class="row pl-5 col-12 d-flex justify-content-between">
                        <p class="col-3 font-weight-bold"> Gói vay </p>
                        <p class="col-5 text-right"> xxx </p>
                    </div>
                </div>
                <img src="/images/down-chevron.png " style="width: 50px; height: 70px">
            </div>

        </div>
        <div class="font-weight-bold mt-3 mb-3">Đề nghị vay vốn</div>
        <form action="" method="post">
            <div class="form-group credit-limit text-dark px-4">
                <label class="mb-2" for="limit" style="cursor: pointer"> Hạn mức đề nghị</label>
                <div class="row d-flex justify-content-between">
                    <input class="col-11 input-credit-limit text-dark form-control "
                           id="limit" placeholder="Nhập số tiền" name="limit">
                    <p class="col-1">VND</p>
                </div>
            </div>

            <div class="form-group credit-limit text-dark px-4">
                <label class="mb-2" for="term" style="cursor: pointer"> Kỳ hạn vay đề nghị</label>
                <div class="row d-flex justify-content-between">
                    <select class="col-11 px-2 mb-1   input-credit-limit text-dark form-control "
                            id="term" name="term">
                        <option disabled selected hidden>Chọn kỳ hạn vay muốn đề nghị</option>
                        <option>6</option>
                        <option>12</option>
                        <option>18</option>
                        <option>24</option>
                        <option>36</option>
                    </select>
                    <p class="col-1">Tháng</p>
                </div>
            </div>
            <div class="form-group credit-limit text-dark px-4">
                <label class="mb-2" for="purpose" style="cursor: pointer"> Mục đích vay</label>
                <div class="row">
                    <select class="col-11 px-2 mb-1  input-credit-limit text-dark form-control "
                            style="margin-left: 3px"
                            id="purpose" name="purpose">
                        <option disabled selected hidden>Chọn mục đích gói vay</option>
                        <option>6</option>
                        <option>12</option>
                        <option>18</option>
                        <option>24</option>
                        <option>36</option>
                    </select>
                </div>
            </div>

            <div class="loan-purpose mt-5">
                <div class="container px-4 py-3">
                    <div class="row d-flex justify-content-between mb-3">
                        <div class="col-5">Tài khoản thế chấp</div>
                        <div class="col-4 text-right">xxxx0034</div>
                    </div>
                    <div class="row d-flex justify-content-between ">
                        <div class="col-5">Hình thức trả nợ</div>
                        <div class="col-4 text-right">Lãi trả hàng tháng</div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center my-4">
                <button class="btn mb-3 col-5 btn--continue mt-3" type="submit"
                        style="border-radius: 15px; background-color: #134B70; color:white; ">Tiếp tục
                </button>
            </div>
        </form>


    </div>
</div>
