<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="#" class="ml-3"><img src="/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="    col-4" style="font-weight: bold ">Vay tín chấp</span>
    </div>
    <div class="container mt-3 px-4">
        <div class="font-weight-bold">Hạn mức tín chấp được phê duyệt</div>
        <div class="container credit-limit mt-3 py-3">
            <div class="row ">
                <div class="row col-11 ">
                    <div class="row pl-5 col-12 d-flex justify-content-between">
                        <p class="col-3 font-weight-bold"> Hạn mức </p>
                        <p class="col-5 text-right"> 50.000.000 VND </p>
                    </div>
                    <div class="row pl-5 col-12 d-flex justify-content-between">
                        <p class="col-3 font-weight-bold"> Lãi suất </p>
                        <p class="col-5 text-right"> 4.7% Năm </p>
                    </div>
                </div>
                <img src="/down-chevron.png " style="width: 50px; height: 70px">
            </div>

        </div>
        <div class="font-weight-bold mt-3 mb-3">Đề nghị vay vốn</div>
        <form action="" method="post">
            <div class="form-group credit-limit px-3">
                <label class="mb-2" for="limit" style="cursor: pointer"> Hạn mức đề nghị</label>
                <div class="row">
                    <input class="col-10 px-2  input-credit-limit form-control " style="margin-left: 6px"
                           id="limit" placeholder="Nhập số tiền" name="limit">
                    <p class="col-1">VND</p>
                </div>
            </div>

            <div class="form-group credit-limit px-3">
                <label class="mb-2" for="term" style="cursor: pointer"> Kỳ hạn vay đề nghị</label>
                <div class="row">
                    <select class="col-10 px-2 mb-1  input-credit-limit form-control " style="margin-left: 6px"
                            id="term" name="term">
                        <option disabled selected hidden>Chọn kỳ hạn vay muốn đề nghị</option>
                        <option>6</option>
                        <option>12</option>
                        <option>18</option>
                        <option>24</option>
                        <option>36</option>
                    </select>
                    <p class="col-1">Tháng</p>
                </div>
            </div>
            <div class="form-group credit-limit px-3">
                <label class="mb-2" for="income" style="cursor: pointer"> Thu nhập hằng tháng</label>
                <div class="row">
                    <input class="col-10 px-2  input-credit-limit form-control " style="margin-left: 6px"
                           id="income" placeholder="Nhập số tiền" name="income">
                    <p class="col-1">VND</p>
                </div>
            </div>
            <div class="form-group credit-limit px-3">
                <label class="mb-2" for="usage" style="cursor: pointer"> Ước tính chi tiêu hàng tháng</label>
                <div class="row">
                    <input class="col-10 px-2  input-credit-limit form-control " style="margin-left: 6px"
                           id="usage" placeholder="Nhập số tiền" name="usage">
                    <p class="col-1">VND</p>
                </div>
            </div>
            <div class="loan-purpose mt-5">
                <div class="container px-5 py-4">
                    <div class="row d-flex justify-content-between mb-3">
                        <div class="col-5">Mục đích vay:</div>
                        <div class="col-4 text-right">Tiêu dùng</div>
                    </div>
                    <div class="row d-flex justify-content-between mb-3">
                        <div class="col-5">Tài khoản tín chấp:</div>
                        <div class="col-4 text-right">xxxx0034</div>
                    </div>
                    <div class="row d-flex justify-content-between mb-3">
                        <div class="col-5">Tài sản đảm bảo:</div>
                        <div class="col-4 text-right">Không</div>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <div class="col-5">Hình thức trả nợ:</div>
                        <div class="col-4 text-right">Lãi trả hàng tháng</div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center my-4">
                <button class="btn mb-3 col-5 btn--continue mt-3" type="submit"
                        style="border-radius: 15px; background-color: #134B70; color:white; ">Xác nhận
                </button>
            </div>
        </form>


    </div>
</div>
