<div class="container mt-5  transfer__container  mx-auto shadow ">
    <div class="row pt-3 pb-2">
        <a href="/logged/loan/make-a-loan/loan-unsecured-type" class="ml-3"><img src="/images/arrow.png" style="width: 25px; height: 25px"></a>
        <span class="col-4" style="font-weight: bold ">Vay tín chấp</span>
    </div>
    <div class="container mt-3 px-4">
        <div class="font-weight-bold">Thông tin về khoản vay</div>
        <div class="container credit-limit credit--info px-3 py-3 my-3">
            <div class="container">
                <div class="row pb-2 mb-4" style="border-bottom: 2px solid gray">
                    <img src="/images/information.png" class="" style="width: 20px; height: 20px;">
                    <div class="col-9">Quý khách vui lòng kiểm tra và xác nhận thông tin giao dịch</div>
                </div>
            </div>
            <div class="font-weight-bold">
                Thông tin khoản vay
            </div>
            <div class="container ">
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Tài khoản tín chấp</div>
                    <div class="col-md-6 text-md-right font-weight-bold">xxxx0034</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Hạn mức vay</div>
                    <div class="col-md-6 text-md-right font-weight-bold">20,000,000 VND</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Kỳ hạn vay</div>
                    <div class="col-md-6 text-md-right font-weight-bold">12 Tháng</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Lãi suất vay</div>
                    <div class="col-md-6 text-md-right font-weight-bold">4.7%/năm</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Ngày hiệu lực</div>
                    <div class="col-md-6 text-md-right font-weight-bold">26/10/2024</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Ngày đáo hạn</div>
                    <div class="col-md-6 text-md-right font-weight-bold">26/10/2025</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Mục đích vay</div>
                    <div class="col-md-6 text-md-right font-weight-bold">Tiêu dùng</div>
                </div>
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Tài sản đảm bảo</div>
                    <div class="col-md-6 text-md-right font-weight-bold">Không</div>
                </div>
            </div>
            <div class="font-weight-bold mt-5">
                Chi phí hằng tháng
            </div>
            <div class="container ">
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Tổng thu nhập</div>
                    <div class="col-md-6 text-md-right font-weight-bold">50,000,000 VND</div>
                </div>

                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Ước tính chi tiêu</div>
                    <div class="col-md-6 text-md-right font-weight-bold">20,000,000 VND</div>
                </div>
            </div>
            <div class="font-weight-bold mt-5">
                Phương thức trả nợ
            </div>
            <div class="container ">
                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Hình thức trả nợ</div>
                    <div class="col-md-6 text-md-right font-weight-bold">Lãi trả hàng tháng</div>
                </div>

                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Tài khoản trả nợ</div>
                    <div class="col-md-6 text-md-right font-weight-bold">xxxx0034</div>
                </div>

                <div class="row d-flex justify-content-between mt-3">
                    <div class="col-md-6">Lãi mỗi tháng phải trả</div>
                    <div class="col-md-6 text-md-right font-weight-bold">1,709,401 VND</div>
                </div>
            </div>
            <div>
                <div class="underline  my-3">
                </div>
            </div>
            <div class="row">
                <div class=" col-md-1 ml-md-n2 ml-0 px-0 d-flex justify-content-center mr-lg-n3 mr-md-1">
                    <div class="round">
                        <input type="checkbox" checked id="checkbox"/>
                        <label for="checkbox" style=""></label>
                    </div>
                </div>
                <label for="checkbox" class="col-md-10 pl-0 text-lg-left text-sm-center "
                       style="color: #FFFBFB; font-size: 12px; cursor: pointer">
                    Tôi đéo trả, Tôi đéo trả, Tôi đéo trả, Tôi đéo trả.
                </label>
            </div>
        </div>
<!--        Mấy cái thông tin trên có lẽ phải thêm hidden input để submit post gửi thông tin đi-->
        <div class="row d-flex justify-content-center">
            <a class="btn mb-5 col-5 btn--continue mt-3" type="submit"
               style="border-radius: 15px; background-color: #134B70; color:white; ">Đồng ý
            </a>
        </div>

    </div>
</div>